.search{
  height:40px;
  width:50px;
  vertical-align:middle;
}

h1{
  text-align:center;
  margin-top: 200px;
  color:blue;
}

.input{
  height:40px;
  width:400px;
  border:1px solid blue;
  font-size:20px;
  border-radius:5px;
}

form{
  text-align: center;
}

body{                  background:url(https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2773473036,1218431346&fm=26&gp=0.jpg) no-repeat center 0; 
  background-size:100%;
}